
- if @start_range.present?
  .row
    .col-md-12.text-center
      %strong
        = @start_range.in_time_zone.strftime("%b %-d,%Y %H:%M:%S")
        — 
        = @end_range.in_time_zone.strftime("%b %-d,%Y %H:%M:%S")

.row
  .col-md-12
    - Camera.order( :name ).each do |camera|
      = link_to camera.name, motion_events_path( camera_id: camera.id )
      |

    = link_to "Favorites", favorites_motion_events_path
    
    
    %span.refresh__countdown#refresh1{ data: { controller: "refresh-countdown", refresh_countdown: { interval: 300 } } }
      <svg class="progress-ring" width="30" height="30">
      <circle class="progress-ring__circle" stroke="black" stroke-width="1" fill="#EEE" r="8" cx="15" cy="15"/>
      </svg>

.row
  .col-md-12.text-center
    = paginate @motion_events
    
- @motion_events.each_slice( 4 ) do |slice|
  .row{ style: "margin-bottom: 1em;" }
    - slice.each do |motion_event|
      .col-sm-3.col-xs-6
        .motion_event
          %figure.figure
        
            = link_to motion_event do
              %img.figure-img.img-fluid.rounded{ src: (motion_event.image_01_url rescue ""), style: "width: 100%;", title: "Motion Event #{motion_event.id} — #{motion_event.camera.name rescue ""}" }
          
            %figcaption.figure-caption
              %small
                = link_to motion_event do
                  %span.motion_event_occurred_at
                    #{motion_event.occurred_at.in_time_zone.strftime("%a %B %-d, %Y %-l:%M%P")}
    

.row{ style: "margin-bottom: 2em;" }
  .col-md-12.text-center
    = paginate @motion_events