.row
  .col
    .badge.badge-pill.badge-primary
      #{@motion_event.camera.name rescue ""}
    
.row
  .col-9
    %strong
      #{@motion_event.occurred_at.in_time_zone.strftime("%A %B %-d, %Y %-l:%M%P") rescue ""}
  
  .col.text-right
    - if @motion_event.favorite?
      = link_to unfavorite_motion_event_path( @motion_event ), method: :post do
        %i.fa.fa-star
    - else
      = link_to favorite_motion_event_path( @motion_event ), method: :post do
        %i.fa.fa-star-o

    &nbsp;&nbsp;&nbsp;&nbsp;
    = link_to motion_event_path( @motion_event ), method: :delete, data: { confirm: "Are you sure?" } do
      %i.fa.fa-trash
    
- if @motion_event.video_01.attached?
  .row
    .col
      %video{ controls: "controls", style: "width: 100%;" }
        %source{ src: "#{@motion_event.video_01_url}"}

.row  
  .col

    .image_set{ id: "image_set_#{@motion_event.id}", data: { controller: "image-set", image_set: { cycle_interval: "300" } } }
      .images
        - (1..6).each do |n|
          - img_url = @motion_event.send("image_0#{n}_url".to_sym)
          - if img_url.present?
            %img.img{ src: "#{img_url}" }