%h1 
  #{@motion_event.camera.name rescue ""}
  #{@motion_event.occurred_at.in_time_zone.strftime("%b %-d,%Y %H:%M:%S") rescue ""}
  
.row
  .col-md-8.col-md-offset-2.text-right
    - if @motion_event.favorite?
      = link_to unfavorite_motion_event_path( @motion_event ), method: :post do
        %i.fa.fa-star
    - else
      = link_to favorite_motion_event_path( @motion_event ), method: :post do
        %i.fa.fa-star-o
        
    
    &nbsp;&nbsp;&nbsp;&nbsp;
    = link_to motion_event_path( @motion_event ), method: :delete, data: { confirm: "Are you sure?" } do
      %i.fa.fa-trash
        
.row
  .col-md-8.col-md-offset-2
    %video{ controls: "controls", style: "width: 100%;" }
      %source{ src: "#{@motion_event.video_01_url}"}

.row  
  .col-md-8.col-md-offset-2
    %img.img.img-responsive{ src: "#{@motion_event.image_01_url}" }
    
.row  
  .col-md-8.col-md-offset-2
    %img.img.img-responsive{ src: "#{@motion_event.image_02_url}" }
    
.row  
  .col-md-8.col-md-offset-2
    %img.img.img-responsive{ src: "#{@motion_event.image_03_url}" }
    
.row  
  .col-md-8.col-md-offset-2
    %img.img.img-responsive{ src: "#{@motion_event.image_04_url}" }
    
.row  
  .col-md-8.col-md-offset-2
    %img.img.img-responsive{ src: "#{@motion_event.image_05_url}" }
    
.row  
  .col-md-8.col-md-offset-2
    %img.img.img-responsive{ src: "#{@motion_event.image_06_url}" }
    
    