!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}/
    %title CAMSERVER
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    
    = stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', media: 'all'
    
    = javascript_include_tag "https://www.gstatic.com/charts/loader.js"
    
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .container-fluid
      = render partial: "navbar"
    
      - if notice
        .row
          .col-md-12
            .alert.alert-danger
              #{notice}
          
      - if alert
        .row
          .col-md-12
            .alert.alert-danger
              #{alert}
      

      = yield